extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h2.pull-left=branch.novel.title
			.pull-right
				h4=branch.novel.type
			.clearfix
		.panel-body
			h4.pull-left #{title} #{branch.closed ? '(완)' : ''}
			.pull-right
				h4.text-right=branch.type
				h4.text-right=branch.owner.nickname
				h4.text-right=branch.closed
			.clearfix
			.well.scripts
				each s in scripts
					a(class='script', href='/scripts/#{s._id}') &nbsp#{s.text}
					if(s.type == 'branch')
						span {
							each b in s.branches
								a(class='branch #{branch.isSame(b) ? "branch-current" : ""}',
									href='/branches/#{branch.isSame(b) ? s.p_branch : b}')&nbsp#{branch.isSame(b)?'<-':'#'}
						span &nbsp}

			if branch.closed
				a: button(type='button', class='btn btn-default') 다음챕터 쓰기
			else
				if branch.isMine(session.user)
					form(id='close' role='form', method='post', action='/branches/#{branch._id}/close')
						button(type='submit', class='btn btn-default') 챕터 닫기

			//- 챕터 페이저
			ul.pager
				li(class='previous #{links.prev.class}'): a(href='#{links.prev.path}') &larr; 이전챕터
				li(class='next #{links.next.class}'): a(href='#{links.next.path}') 다음챕터 &rarr;

		if !branch.closed
			.panel-footer
				form(id='write' role='form', method='post', action='/branches/#{branch._id}/write')
					.form-group
						textarea(id='textarea' class='form-control', rows='5', name='text')
					button(type='submit', class='btn btn-default') 작성

	script.
		$(document).ready(function() {
			$('#close').submit(function(e) {
				var ret = confirm('브랜치는 한번 닫으면 다시 열 수 없는데... 그래도 할꺼임?');
				if(!ret)
					e.preventDefault();
			});

			$('#write').submit(function(e) {
				//스크립트 길이 체크
				var script = $('#textarea').val();
				if(script.length < 10) {
					alert('너무 짧아!');
					e.preventDefault();
					return;				
				}
			});

			$('#textarea').keypress(function(e) {
				var code = (e.keyCode ? e.keyCode : e.which);
				if(code == 13 && e.shiftKey) {
					$('#write_btn').click();
				}				
			});
		});
